{% extends "base.html"%}
{% load static %}
{% block title %}
        VeeData | Home
{% endblock %}


{% block content %}
<!-- page-header -->
    <header class="page-header"></header>
<!-- end of page header -->


<div class="container second_container">
<div class="align-center div_1">
    <img src="{% static '/imgs/blog-5.jpg' %}" class="first">
    <img src="{% static '/imgs/blog-6.jpg' %}" class="second">
</div>

<div class="item-wrapper div_2">
<div class="card-wrapper">
    <div class="card-box align-center">
      <h5 class="mbr-section-title art mbr-fonts-style display-1">Local Florist Just For You</h5>
          <p class="mbr-text text mbr-fonts-style display-4">Lorem ipsum dolor sit amet, pri autem nemore bonorum te. Autem fierent ullamcorper ius no.&nbsp;Te tibique intellegam mediocritatem his, est quis.</p>
           <p class="mbr-text desc mbr-fonts-style display-7"><em>Mary Byrd, owner</em></p>

     </div>
  </div>

</div>
</div>

<div class="thrid-container container">
<div class="row">
                    <div class="col-lg-6">
                        <div class="card text-center mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="{% static '/imgs/blog-4.jpg' %}" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#amet</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h5 class="card-title mb-2">Quisquam Dignissimos</h5>
                                <small class="small text-muted">January 17 2019
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">93 Comments</a>
                                </small>
                                <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                            </div>

                            <div class="card-footer p-0 text-center">
                                <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card text-center mb-5">
                            <div class="card-header p-0">
                                <div class="blog-media">
                                    <img src="{% static '/imgs/blog-5.jpg' %}" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#lorem</a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <h5 class="card-title mb-2">Voluptas Optio Soluta</h5>
                                <small class="small text-muted">January 15 2019
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">112 Comments</a>
                                </small>
                                <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                            </div>

                            <div class="card-footer p-0 text-center">
                                <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>

</div>
{% endblock %}




