{% extends "base.html"%}
{% load static %}
{% block simantic %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/style_polls.css'%}">
{%endblock simantic%}

{% block title %}
        VeeData | Content
{% endblock %}

{% block content %}


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'analisis_data' %}">Dasar Analisis</a>
<!--  <a href="#">Services</a>-->
<!--  <a href="#">Clients</a>-->
<!--  <a href="#">Contact</a>-->
</div>
<div class="pembatas" id="pembatas">
</div>
<div class="content_pools" id="content_polls">


</div>

 {% endblock %}

{% block js_content %}
<script type="text/javascript" src="{% static 'js/scripts_polls.js'%}"></script>

 {% endblock %}

